In [1]:
#Mounting Google Drive to pass on documents easier
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [32]:
#importing libraries
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [130]:
#Loading in dataset
movies = pd.read_csv('/content/drive/MyDrive/MSBA_Colab_2020/ML_Algorithms/CA06/movies_recommendation_data.csv')

In [120]:
#Checking the dataset
movies.head()

   Movie ID          Movie Name  IMDB Rating  ...  Mystery  History  Label
0        58  The Imitation Game          8.0  ...        0        0      0
1         8          Ex Machina          7.7  ...        1        0      0
2        46    A Beautiful Mind          8.2  ...        0        0      0
3        62   Good Will Hunting          8.3  ...        0        0      0
4        97        Forrest Gump          8.8  ...        0        0      0

[5 rows x 11 columns]

In [131]:
#Drop the label
movies.drop(columns = 'Label', inplace=True)

In [37]:
#30 rows 11 dimensions
movies.shape

(30, 10)

In [92]:
#The Post
#24 <- Made up / 7.2 / 1 / 1 / 0 / 0 / 0 / 0 / 1
#Adding The Post into the dataframe
#insertmovie = pd.Series([24, "The Post", 7.2, 1, 1, 0, 0, 0, 0, 1])

In [132]:
#Save every columns but the name into a separate dataframe
moviestats = movies[["IMDB Rating","Biography","Drama","Thriller","Comedy","Crime","Mystery","History"]]

In [133]:
moviestats

    IMDB Rating  Biography  Drama  Thriller  Comedy  Crime  Mystery  History
0           8.0          1      1         1       0      0        0        0
1           7.7          0      1         0       0      0        1        0
2           8.2          1      1         0       0      0        0        0
3           8.3          0      1         0       0      0        0        0
4           8.8          0      1         0       0      0        0        0
5           6.8          0      1         0       0      1        0        1
6           7.6          0      1         0       0      0        0        0
7           5.9          0      1         0       0      0        1        0
8           7.9          0      0         0       0      0        0        0
9           7.2          0      1         0       0      0        0        0
10          7.2          0      1         0       0      0        0        0
11          7.4          0      1         1       0      1        0        0
12          8.6          0      1         0       0      0        0        0
13          8.2          1      0         0       1      1        0        0
14          7.4          0      0         0       0      0        0        0
15          8.8          0      0         0       0      0        0        0
16          7.8          1      1         0       0      0        0        0
17          8.6          0      0         0       0      0        0        0
18          7.3          0      1         0       0      0        0        0
19          7.3          0      0         0       0      0        0        0
20          6.6          0      0         1       0      0        1        0
21          7.3          0      1         0       0      0        0        0
22          8.0          0      0         0       0      0        0        0
23          7.2          0      0         0       1      1        0        0
24          8.1          0      0         0       0      0        0        0
25          7.9          0      0         0       1      0        0        0
26          7.1          0      0         0       0      0        0        0
27          8.2          1      1         0       0      0        0        1
28          8.1          1      1         0       0      0        0        1
29          7.4          1      1         0       0      0        0        0

In [134]:
#turn the movie stats above into a matrix which will later be used for the knn algorithm
mat_movie_users = csr_matrix(moviestats.values)

In [135]:
#Not many dimensions and rows, that is why I chose the brute force method
#Set N neighbors to 5 since we are recommending 5 movies
#Utilizing the euclidean distance formula
model_knn = NearestNeighbors(metric='euclidean', algorithm='brute', n_neighbors=5)

In [136]:
#utilize the nearest neighbor algorithm on the stats of all the movies, excluding The Post
model_knn.fit(mat_movie_users)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='euclidean',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [137]:
newmoviestats = [7.2,1,1,0,0,0,0,1]
movienameid = [24, "The Post"]

In [138]:
def movierecommendation(movienums, nameid):
  x = np.array([7.2,1,1,0,0,0,0,1])
  x = x.reshape(1,-1)
  distances, indices=model_knn.kneighbors(x)
  for i in indices:
      print(movies['Movie Name'][i])
  #for appending purposes
  moviestats.loc[len(moviestats)] = movienums
  #fullmovielist = nameid + movienums
  movies.loc[len(movies)] = nameid + movienums

In [139]:
movierecommendation(newmoviestats, movienameid)

28    12 Years a Slave
27       Hacksaw Ridge
29      Queen of Katwe
16      The Wind Rises
9       The Karate Kid
Name: Movie Name, dtype: object

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [140]:
#You can see the stats of the post being appended in the end of this dataframe
moviestats

    IMDB Rating  Biography  Drama  Thriller  Comedy  Crime  Mystery  History
0           8.0        1.0    1.0       1.0     0.0    0.0      0.0      0.0
1           7.7        0.0    1.0       0.0     0.0    0.0      1.0      0.0
2           8.2        1.0    1.0       0.0     0.0    0.0      0.0      0.0
3           8.3        0.0    1.0       0.0     0.0    0.0      0.0      0.0
4           8.8        0.0    1.0       0.0     0.0    0.0      0.0      0.0
5           6.8        0.0    1.0       0.0     0.0    1.0      0.0      1.0
6           7.6        0.0    1.0       0.0     0.0    0.0      0.0      0.0
7           5.9        0.0    1.0       0.0     0.0    0.0      1.0      0.0
8           7.9        0.0    0.0       0.0     0.0    0.0      0.0      0.0
9           7.2        0.0    1.0       0.0     0.0    0.0      0.0      0.0
10          7.2        0.0    1.0       0.0     0.0    0.0      0.0      0.0
11          7.4        0.0    1.0       1.0     0.0    1.0      0.0      0.0
12          8.6        0.0    1.0       0.0     0.0    0.0      0.0      0.0
13          8.2        1.0    0.0       0.0     1.0    1.0      0.0      0.0
14          7.4        0.0    0.0       0.0     0.0    0.0      0.0      0.0
15          8.8        0.0    0.0       0.0     0.0    0.0      0.0      0.0
16          7.8        1.0    1.0       0.0     0.0    0.0      0.0      0.0
17          8.6        0.0    0.0       0.0     0.0    0.0      0.0      0.0
18          7.3        0.0    1.0       0.0     0.0    0.0      0.0      0.0
19          7.3        0.0    0.0       0.0     0.0    0.0      0.0      0.0
20          6.6        0.0    0.0       1.0     0.0    0.0      1.0      0.0
21          7.3        0.0    1.0       0.0     0.0    0.0      0.0      0.0
22          8.0        0.0    0.0       0.0     0.0    0.0      0.0      0.0
23          7.2        0.0    0.0       0.0     1.0    1.0      0.0      0.0
24          8.1        0.0    0.0       0.0     0.0    0.0      0.0      0.0
25          7.9        0.0    0.0       0.0     1.0    0.0      0.0      0.0
26          7.1        0.0    0.0       0.0     0.0    0.0      0.0      0.0
27          8.2        1.0    1.0       0.0     0.0    0.0      0.0      1.0
28          8.1        1.0    1.0       0.0     0.0    0.0      0.0      1.0
29          7.4        1.0    1.0       0.0     0.0    0.0      0.0      0.0
30          7.2        1.0    1.0       0.0     0.0    0.0      0.0      1.0

In [141]:
#The post appended towards the end of this dataframe
movies

    Movie ID                        Movie Name  ...  Mystery  History
0         58                The Imitation Game  ...        0        0
1          8                        Ex Machina  ...        1        0
2         46                  A Beautiful Mind  ...        0        0
3         62                 Good Will Hunting  ...        0        0
4         97                      Forrest Gump  ...        0        0
5         98                                21  ...        0        1
6         31                            Gifted  ...        0        0
7          3               Travelling Salesman  ...        1        0
8         51                            Avatar  ...        0        0
9         47                    The Karate Kid  ...        0        0
10        50            A Brilliant Young Mind  ...        0        0
11        49                    A Time To Kill  ...        0        0
12        30                      Interstellar  ...        0        0
13        94           The Wolf of Wall Street  ...        0        0
14         6                     Black Panther  ...        0        0
15        73                         Inception  ...        0        0
16        44                    The Wind Rises  ...        0        0
17        65                     Spirited Away  ...        0        0
18        48                 Finding Forrester  ...        0        0
19        27                      The Fountain  ...        0        0
20        57                  The DaVinci Code  ...        1        0
21        57                 Stand and Deliver  ...        0        0
22        14                    The Terminator  ...        0        0
23        69                    21 Jump Street  ...        0        0
24        98                      The Avengers  ...        0        0
25        17                    Thor: Ragnarok  ...        0        0
26        12  Spirit: Stallion of the Cimarron  ...        0        0
27         1                     Hacksaw Ridge  ...        0        1
28        86                  12 Years a Slave  ...        0        1
29        46                    Queen of Katwe  ...        0        0
30        24                          The Post  ...        0        1

[31 rows x 10 columns]